<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>KindEditor</title>

</head>

<body class="ke-content">
    <br>
    <p></p>
    <p>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="ke-zeroborder" style="font-size:17px;color:#42464D;background:#F9F9F9;">
            <tbody>
                <tr>
                    <td valign="top">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="ke-zeroborder" style="background:white;">
                            <tbody>
                                <tr>
                                    <td valign="bottom" style="padding:20px 16px 16px;">
                                        <div style="margin:0 auto;">
                                            <a kesrc="{{ROOT_URL}}" href="{{ROOT_URL}}">
                                                <img style="width:150px;height:45px;" kesrc="{{ROOT_URL}}/assets/img/smock_logo.png" src="{{ROOT_URL}}/assets/img/slack_logo.png">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" class="ke-zeroborder">
                            <tbody>
                                <tr>
                                    <td valign="top">
                                        <div style="margin:1.5rem auto 0;padding:0 16px;">
                                            <h2>Hello!</h2>
                                            <p style="font-size:18px;">Thank you for signing up for Slack. We're really happy to have you! Click the link below to get your team set up:</p>
                                            <p style="text-align:center;">	<a kesrc="{{create_url}}" href="{{create_url}}">Set up your team now</a> 
                                            </p>
                                            <p style="font-size:0.9rem;color:#AAA;text-align:center;">Slack is always free for an unlimited period of time and unlimited number of people.</p>
                                            <p style="font-size:18px;"><strong>Slack is made for teams</strong> &ndash; people who are in frequent, daily communication with one another. For it to work for you, your teammates need to join you and use it.</p>
                                             <p style="font-size:18px;">Good luck with Slack!
                                                <br>-- Team Slack</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" class="ke-zeroborder" style="background:white;color:#989EA6;">
                            <tbody>
                                <tr>
                                    <td style="height:5px;background-image:url('{{ROOT_URL}}/assets/img/email-ribbon_@2x.png');background-repeat:repeat-x;background-size:auto 5px;"></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="center" style="padding:16px 8px 64px;">
                                        <div style="margin:0 auto;">
                                            <p style="font-size:12px;">
                                            
                                                <br>
                                            </p>
                                            <p style="font-size:12px;">	
                                            
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </p>
    <p></p>
</body>

</html>